## Before we start Python study

In [1]:
# assignment
x = [1,2,3]
y = x   # "y should now refer to whatever value x refers to"

In [2]:
# variables and id()
a = 3
b = a
print(id(a), id(b))

a +=2
a, b, id(a), id(b)

140722454869856 140722454869856

(5, 3, 140722454869920, 140722454869856)

In [3]:
a = [1,2,3]
b = a
print(id(a), id(b))

a +=[4,5,6]
a, b, id(a), id(b)

1670671056960 1670671056960

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], 1670671056960, 1670671056960)

In [4]:
# parameter passing
def test1(a):   # call by value
    a = 2
    print(id(a))
    
a = 1
print("original:", id(a))
test1(a)
a, id(a)

original: 140722454869792
140722454869824

(1, 140722454869792)

In [5]:
def test2(a):   # call by ref
    a.append("World.")
    print(id(a))
    
a = ["Hello"]
print("original:", id(a))
test2(a)
a, id(a)

original: 1670670586624
1670670586624

(['Hello', 'World.'], 1670670586624)

In [6]:
%%writefile test_py1.py
import numpy as np
N = 3
for i in range(N):
    print("pi is: ", np.pi)

Writing test_py1.py

In [8]:
# !dir

In [9]:
!type test_py1.py

import numpy as np
N = 3
for i in range(N):
    print("pi is: ", np.pi)

In [10]:
%run test_py1.py

pi is:  3.141592653589793
pi is:  3.141592653589793
pi is:  3.141592653589793

In [11]:
%whos

Variable   Type        Data/Info
--------------------------------
N          int         3
a          list        n=2
b          list        n=6
i          int         2
np         module      <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
test1      function    <function test1 at 0x00000184FBBEC670>
test2      function    <function test2 at 0x00000184FBBEC3A0>
x          list        n=3
y          list        n=3

In [12]:
w = [1, 2, 3,
    4, 5, 6]
w

[1, 2, 3, 4, 5, 6]

In [13]:
x = 1 + 2 + 3 \
    + 4
x

10

## Basic Variables
- int, float, boolean

In [18]:
a = 100
b = 0b100
a, b, int(b), bin(a)

(100, 4, 4, '0b1100100')

In [19]:
type(a), type(b), type(bin(a)), hex(3*a)

(int, int, str, '0x12c')

In [22]:
3 is 4, 9 is not 10, a is 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-22-71a550c55ba3>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  3 is 4, 9 is not 10, a is 100
<ipython-input-22-71a550c55ba3>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  3 is 4, 9 is not 10, a is 100
<ipython-input-22-71a550c55ba3>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  3 is 4, 9 is not 10, a is 100

(False, True, True)

In [23]:
x = [1,2,3]
x.append(10)

In [24]:
x

[1, 2, 3, 10]

In [25]:
y = [1,2,3,10]
y

[1, 2, 3, 10]

In [26]:
x is y, x == y, id(x), id(y)

(False, True, 1670671944320, 1670671944448)

In [27]:
3 > 4, 13/2, 13%2, 13//2   # division, remainder, integer division

(False, 6.5, 1, 6)

In [28]:
True + True, True * True, True + 3  # True = 1, False = 0

(2, 1, 4)

In [29]:
x, y = 1e6, 1e-3
x, y, type(x)

(1000000.0, 0.001, float)

In [30]:
# complex numbers
c = 1.5 + 0.7j
c.real, c.imag

(1.5, 0.7)

In [31]:
# input, print
x = input()

6

In [32]:
x, type(x), int(x), float(x)**2

('6', str, 6, 36.0)

In [33]:
a = [1,2,3,4]
b = 3
b in a, 5 not in a

(True, True)

## Container Types
- string, list, tuple, dict

In [36]:
# string
a = "Hello world!"
a[0] = 'S'      # immutable

TypeError: 'str' object does not support item assignment

In [37]:
# string
s = "heLLo"
s.capitalize(), s.upper(), s.swapcase(), s.isalnum(), s.isalpha(), s.isdigit()

('Hello', 'HELLO', 'HEllO', True, True, False)

In [38]:
s1 = "animals: cat, dog, cat, cat, wow!!"
s2 = 'cat'
s1.find(s2), s1.index(s2), s1.rfind(s2)

(9, 9, 24)

In [39]:
"     Too many space.    ".strip()

'Too many space.'

In [40]:
"HeLLO".replace("E","e")

'HeLLO'

In [41]:
"HeLLO".replace("e","E")

'HELLO'

In [42]:
x = "I am home."
y = x.split(' '); y

['I', 'am', 'home.']

In [43]:
":".join(['1','2','3'])

'1:2:3'

In [47]:
# list
a = list(range(6))
a[0] = 100    # mutable
a

[100, 1, 2, 3, 4, 5]

In [49]:
a.append(77); a     # in-place execution

[100, 1, 2, 3, 4, 5, 77, 77]

In [50]:
sum(a), max(a), min(a), len(a), any(a), all(a)

(269, 100, 1, 8, True, True)

In [51]:
a = [1,2,3,4]
b = ['a','b','c','d']
for i in zip(a, b):
    print (i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [52]:
for i, j in zip(a, b):
    print (i, j)

1 a
2 b
3 c
4 d

## sorting

In [53]:
a = [1, 4, 3, 6, 9, 10, 7]
sorted(a, reverse = True)

[10, 9, 7, 6, 4, 3, 1]

In [55]:
a.sort(reverse=True)    # in-place function (returns null)

In [56]:
a

[10, 9, 7, 6, 4, 3, 1]

In [58]:
a[::-1]

[1, 3, 4, 6, 7, 9, 10]

In [59]:
y = []
for i in reversed(a):
    y.append(i)
y

[1, 3, 4, 6, 7, 9, 10]

## Common Sequence Functions
- list, array, tuple, string (*** not applicable to dict ***)
- indexing
- slicing

In [61]:
# indexing and slicing
a = "Hello world!"
print(a[0], a[1], a[-1], a[-2])   # indexing
print(a[2:9], a[2:9:2])   # start, end(excluding), step(or stride)
a[::]

H e ! d
llo wor lowr

'Hello world!'

In [62]:
# list
a = list(range(5))
print(a, a[0], a[-1]) # indexing
print(a[:3], a[::], a[-1::-1], a[::2])

[0, 1, 2, 3, 4] 0 4
[0, 1, 2] [0, 1, 2, 3, 4] [4, 3, 2, 1, 0] [0, 2, 4]

In [64]:
b = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
b[0], b[1:]

([0, 1, 2], [[3, 4, 5], [6, 7, 8]])

In [65]:
b[0][1], (b[0])[1]

(1, 1)

In [66]:
c = (0, 1, 2, 3,4)   # tuple
c[0], c[-1], c[:3]

(0, 4, (0, 1, 2))

In [67]:
for x in "Banana":    # accessed one-by-one
    print(x)

B
a
n
a
n
a

In [68]:
for x in b:
    print(x)

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

In [69]:
# enumerate
a = [1,2,3,4]
for idx, x in enumerate(a, 20):
    print(idx, x)

20 1
21 2
22 3
23 4